<?xml version="1.0"?>
<phpunit colors="true">
  <testsuite name="sample tests">
    <directory>./test</directory>
  </testsuite>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="./cov" lowUpperBound="35" highLowerBound="70"/>
  </logging>
</phpunit>
