<?php
$meta @
@semval($) $yyval
@semval($,%t) $yyval
@semval(%n) $yyastk[$yysp-(%l-%n)]
@semval(%n,%t) $yyastk[$yysp-(%l-%n)]

namespace Phinder\PatternParser;

final class PatternParser
{
    public static function create()
    {
        return new PatternParser();
    }

    public function parse($string)
    {
        if ($string === '_') {
            return true;
        }
        throw new PatternParseError();
    }
}
